@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model UploadFiles.Pages.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }
    </style>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="postedFiles" multiple />
        <input type="submit" value="Upload" asp-page-handler="Upload" />
        <br />
        <br />
        <span style="color:green">@Html.Raw(Model.Message)</span>
    </form>
</body>
</html>